@model Telerik.Sitefinity.Frontend.Mvc.Models.IDesignerModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="designer" modal dialog-controller="DialogCtrl">
    <script type="text/ng-template" id="dialog-template">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="Cancel($event)">&times;</button>
			<h1 class="modal-title">@Html.Raw(ViewBag.ControlName)</h1>
         </div>
         <div class="modal-body">
            <div ng-show="Feedback.ShowError" class="alert alert-danger">
                <a class="close" data-dismiss="alert" ng-click="HideError()">x</a>
                <strong>@Html.Resource("Error")</strong> <span ng-bind="Feedback.ErrorMessage"></span>
            </div>

            <div ng-show="Feedback.ShowLoadingIndicator" class="s-loading m-bottom-sm"></div>

            <div id="viewsPlaceholder" ng-view></div>
         </div>
         <div class="modal-footer">
            <button class="btn btn-primary" ng-click="Save(false)">@Html.Resource("Save")</button>
            <button class="btn btn-default" ng-click="Save(true)" ng-hide="HideSaveAllTranslations">@Html.Resource("SaveAllTranslations")</button>
            <a class="btn btn-link" data-dismiss="modal" ng-click="Cancel($event)">@Html.Resource("Cancel")</a>

            @if (Model.Views.Count() > 1)
            {
                foreach (var view in Model.Views)
                {
                    <a class="btn btn-default btn-xs pull-right m-top-xs" ng-hide="IsCurrentView('@view')" href="#/@view">@Html.Resource(view)</a>
                }
            }
         </div>
    </script>

    @foreach (var view in Model.Views)
    { 
        <script type="text/ng-template" id='@Html.Raw(view)-template'>
            @{
                Html.RenderAction("View", "Designer", new { widgetName = ViewBag.ControlName, viewType = view });
            }
        </script>
    }
</div>

@{
    Html.RenderAction("ClientReferences", "Designer");
}