@model Telerik.Sitefinity.Frontend.Mvc.Models.IDesignerModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<div class="sf-backend-wrp">
    <div class="designer" modal dialog-controller="DialogCtrl" template-url="dialog-template" auto-open="true" window-class="sf-designer-dlg sf-backend-wrp">
	    <server-data default-view='@Model.DefaultView' widget-name='@ViewBag.ControlName' control-id='@ViewBag.ControlId' culture='@Telerik.Sitefinity.Localization.Res.CurrentBackendCulture'></server-data>

	    <script type="text/ng-template" id="dialog-template">
		    <div class="modal-header sf-widget-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel($event)">&times;</button>
			    <h3 class="modal-title">@Html.Raw(Model.Caption)</h3>
		    </div>

		    <div class="modal-body">
			    <sf-loading ng-show="feedback.showLoadingIndicator"></sf-loading>

			    <div ng-show="feedback.showError" class="alert alert-danger">
				    <a class="close" data-dismiss="alert" ng-click="hideError()">&times;</a>
				    <strong>@Html.Resource("Error")</strong> <span ng-bind="feedback.errorMessage"></span>
			    </div>

			    <div id="viewsPlaceholder" ng-show="!feedback.showLoadingIndicator" ng-view></div>

		    </div>

		    <div class="modal-footer" ng-show="!feedback.showLoadingIndicator" placeholder="modal-footer"></div>

		    <script type="text/ng-template" section="modal-footer">
			    <button class="btn btn-primary pull-left" ng-click="save(false)">@Html.Resource("Save")</button>
			    <button class="btn btn-default pull-left" ng-click="save(true)" ng-hide="hideSaveAllTranslations">@Html.Resource("SaveAllTranslations")</button>
			    <a class="btn btn-link pull-left" data-dismiss="modal" ng-click="cancel()">@Html.Resource("Cancel")</a>

			    @if (Model.Views.Count() > 1)
			    {
				    foreach (var view in Model.Views)
				    {
					    <a class="btn btn-default btn-xs m-top-xs designer-btn-@view" ng-hide="isCurrentView('@view')" href="#/@view">@Html.Resource(view, fallbackToKey: true)</a>
				    }
			    }
		    </script>
	    </script>
    </div>
</div>

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/sitefinity-backend.min.css"))

@Html.Script(Url.WidgetContent("~/Telerik.Sitefinity.Frontend/ServerContext.js"))
@Html.Script(Url.WidgetContent("Mvc/Scripts/server-data.js"))
@Html.Script(Url.WidgetContent("Mvc/Scripts/Designer/modal-dialog.js"))
@Html.Script(Url.WidgetContent("Mvc/Scripts/Designer/designer.js"))
@Html.Script(Url.WidgetContent("Mvc/Scripts/sf-loading.js"))
@Html.Script(Url.WidgetContent("Mvc/Scripts/Bootstrap/js/bootstrap.min.js"))

@foreach (var scriptPath in Model.ScriptReferences)
{
	@Html.Script(Url.WidgetContent(scriptPath))
}
