@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.AddressFieldViewModel

@using System.Web.Script.Serialization;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

<div class="@ViewBag.CssClass">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <div class="sfitemFieldLbl">
        @Model.FieldTitle:
    </div>
    }

    <div>
        <div class="sfitemAddressTxt">
            @Model.Address.GetFormattedAddress(Model.AddressFormat)
        </div>
        <div>
            <a class="viewMapLnk">View map</a>
            <div class="addressMapWrp" style="display:none">
                <input class="addressValueInput" type="hidden" value="@(new JavaScriptSerializer().Serialize(Model.Address))" />
                <div class="mapContainer" style="width:500px; height:500px"></div>
            </div>
        </div>
    </div>
</div>

@if (Html.Sitefinity().IsApiKeyValid())
{
    @Html.Script(ScriptRef.JQuery)
    @Html.Script("http://maps.googleapis.com/maps/api/js?key=" + Html.Sitefinity().GetApiKey() + "&sensor=false")
    <script type="text/javascript" src='@Url.WidgetContent("Mvc/Scripts/address-field.js")'></script>
}
