@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.ClassificationFieldViewModel

<div class="@ViewBag.CssClass" data-sf-field='@Model.FieldName' data-sf-ftype='@Model.GetTaxonomyType()'>
    <span>
        @Model.FieldTitle :
    </span>

    <ul>
    @foreach (string taxonName in Model.GetTaxonNames())
    {
        <li>
            <span>@taxonName</span>
        </li>   
    }
    </ul>
</div>
