@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.PagerViewModel

<ul class="pagination">
    <li><a href="@String.Format(Model.RedirectUrlTemplate, 1)">«</a></li>
    @for (int i = 1; i <= Model.TotalPagesCount; i++)
    {
        if(Model.CurrentPage == i)
        {
            <li class="active">
                <a href="@String.Format(Model.RedirectUrlTemplate, i)">@i.ToString() <span class="sr-only">(current)</span></a>
            </li>
        }
        else
        {
            <li>
                <a href="@String.Format(Model.RedirectUrlTemplate, i)">@i.ToString()</a>
            </li>
        }
    }
    <li><a href="@String.Format(Model.RedirectUrlTemplate, Model.TotalPagesCount)">»</a></li>
</ul>