@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.PagerViewModel

<ul class="pagination">
    @if (Model.PreviousNode != null){
    <li>
        <a href="@String.Format(Model.RedirectUrlTemplate, Model.PreviousNode.PageNumber)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    }
    @foreach (var page in Model.PagerNodes.OrderBy(x => x.PageNumber))
    {
        if (Model.CurrentPage == page.PageNumber)
        {
            <li class="active">
                <a href="@String.Format(Model.RedirectUrlTemplate, page.PageNumber)">@page.PageNumber <span class="sr-only">(current)</span></a>
            </li>
        }
        else
        {
            <li>
                <a href="@String.Format(Model.RedirectUrlTemplate, page.PageNumber)">@page.PageNumber</a>
            </li>
        }
    }
    @if (Model.NextNode != null)
    {
    <li>
        <a href="@String.Format(Model.RedirectUrlTemplate, Model.NextNode.PageNumber)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    }
</ul>
